extend layout
block content
  h1 Recent Checkins
  p
    - each logline in loglines
      div.logline
        div.computer= logline.computer
        div.status= logline.status

block sidebar
  .widget
    h1= sidebartitle
    p    
      | blah blah blah
