extend layout
block content
  h1 Problem Devices
  p
    - each logline in loglines
      div.logline
        div.device= logline.device
        div.status= logline.status
        div.datetime= logline.datetime

block sidebar
  .widget
    h1= sidebartitle
    p    
      Other Recent Checkins
