!!! 5
html(lang+"en")
  head
    title #{title} - Notification Server Index 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h2 H2GC Notification Server
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p It's just the footer - Don't Panic
      
