extend layout
block content
  p
    | First block
  p
    | Second block
    | more text
block sidebar
  .widget
    h1 Widget
    p
      | first sidebar block
    p
      | second sidebar block
      | more text