!!! 5
html(lang+"en")
  head
    title #{title} - H2GC Notification Server
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h2 H2GC Notification Server
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Don't Panic
      h1 foobar
