!!! 5
html(lang+"en")
  head
    title #{title} - H2GC Log Server
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 H2GC Log Server
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Don't Panic
